certifi==2021.5.30
charset-normalizer==2.0.4
cmake==3.21.1.post1
dlib==19.22.0
flatbuffers==2.0
idna==3.2
numpy==1.21.1
onnx==1.10.1
onnxoptimizer==0.2.6
onnxruntime==1.8.1
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
protobuf==3.17.3
pycodestyle==2.7.0
requests==2.26.0
six==1.16.0
toml==0.10.2
tqdm==4.62.1
typing-extensions==3.10.0.0
urllib3==1.26.6
